*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-p{
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.section-p{
    max-width: 300px;
    width: 600px;
    height: 500px;
    border-radius: 5px;
    background: #343a40;
    border: #343a40 1px solid;
}

.section-p:hover{
    border: #e9ecef 1px solid;
}

.section-p figure img{
    width: 298px;
    height: 200px;
    border-radius: 5px;
}

.div-p{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.div-p p{
    text-align: justify;
    padding: 6px;
    
}

.div-link-p{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.div-link-p a{
    cursor: pointer;
    color: #e9ecef;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #e9ecef;
    padding: 4px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}


.div-link-p a:hover{
    transition: .3s ease-in-out;
    background: #e9ecef;
    color: #212529;
}