
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', Arial;
}

.form-c{
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input, button{
    width: 450px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

button{
    background: #266ab7;
    cursor: pointer;
    color: #e9ecef;
    font-weight: 500;
    font-size: 1rem;
}

button:hover{
    transition: .3s ease-in-out;
    background: #104786;
}

textarea{
    width: 450px;
    height: 150px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    resize: none;
}