*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #212529;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2{
    font-weight: 400;
    text-transform: uppercase;
    color: #e9ecef;
    position: relative;

    display: flex;
    flex-direction: column;
}


h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: #4895ef;
}

nav{
    display: flex;
    gap: 3rem;
}

.link{
    text-transform: uppercase;
    text-decoration: none;
    color: #e9ecef;
    position: relative;
}

.link:hover{
    transition: .2s ease-in-out;
    opacity: .8;
}

.menu-icon{
    display: none;
}


@media screen and (max-width: 999px){
    nav{
        display: none;
    }

    .menu-icon{
        display: initial;
    }
}